{lib_dirs, ["deps"]}.

{erl_opts, [
    debug_info,
    {platform_define, "^(1[8,9]|20)", 'use_new_time_api'}
]}.

{deps, [{common_lib, ".*",
         {git, "git://github.com/edescourtis/common_lib.git", {branch, master}}}]}.

{erl_first_files, ["src/gen_esme_session.erl",
                   "src/gen_mc_session.erl",
                   "src/gen_esme.erl",
                   "src/gen_mc.erl"]}.

{xref_checks, [undefined_function_calls]}.
